.jumbotron{
	height: 80vh;
	width:100%;
	background-repeat: no-repeat;
	background-size:cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	padding: 0px;
	margin: 0px;
	border: none;
}
.font1{
  font-size: 100px;
  font-family: 'Perfect Dark (BRK)', arial;
  color: white;
}
.brd{
	padding-left: 70px;
	margin-top: 7%;
}
.mrgin{
	background-repeat: repeat-y;
	color: white;
	margin-top: 2%;
	margin-top: -7%;
	background-attachment: fixed;
	color: white;
	font-family: 'a_CampusGrav', arial;
}
.border{
  background-color: green;
	align-items: center;
	width: 38vh;
	height: 12vh;
	justify-content: center;
	display: flex;
	margin-right: auto;
	margin-left: auto;
}
#border1{
  background-color: black;
	align-items: center;
	color: black;
	text-shadow: 3px 2px white;
}
#text a{
	color: red;
	text-shadow: 3px 2px white;
}
